In [1]:
import pandas as pd
import numpy as np

C:\Users\ashrafs2\AppData\Local\Temp\ipykernel_1900\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_code = pd.read_csv('./FalconCodeCSV/falconcode_v1_code_samples.csv')
df_code.head()

,hash,source_code,redacted
0,00000491f2a5b7faec9e08df4b5c22b6204639bb,# AUTOGRADER IMPORT REMOVED\n\n# -------------...,0
1,000019efe7d7fe307479fba33b1a821a39b15335,# --------------------------------------------...,0
2,00002b46a2a6348e6a584963050ac9f7cf0d7e72,# AUTOGRADER IMPORT REMOVED\n\n# -------------...,0
3,00003b948ada9bf05852a250aaf330ecf4ffc848,# AUTOGRADER IMPORT REMOVED\n\n# -------------...,0
4,0000403119d5ae02df95f638239b8d3733fa6f1c,# AUTOGRADER IMPORT REMOVED\n\n# -------------...,0

In [3]:
df_prompt = pd.read_csv('./FalconCodeCSV/falconcode_v1_table_problems.csv')
df_prompt.head()

,id,course_id,type,exam,prompt,testcase,max_score,input_str,input_cast,output,...,loop_elements,loop_nested,stat_calculate,file_read,file_write,list,list_2d,dictionary,item_set,tuple
0,a3_3_animals,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1,a3_1_cargo,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\nimport random, m...",100,0,1,1,...,0,0,0,0,0,1,0,0,0,0
2,a3_3_games,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,a3_4_heights,2,skill,1,<div>\n<p>&nbsp;</p>\n<p><strong>PROBLEM STATE...,"from cs110 import autograder\r\nimport random,...",100,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,pex3,2,project,0,"<div>\n <h2 style=""text-align: center;"">Com...","from cs110 import autograder\r\nimport random,...",0,0,0,1,...,1,1,0,0,0,1,1,0,0,0

In [4]:
df_scores = pd.read_csv('./FalconCodeCSV/falconcode_v1_table_runs.csv')
df_scores.head()

,id,student_id,course_id,problem_id,timestamp,score,code_hash
0,1,6841f916-e8eb-40a8-ad96-486f030ebb96,3,Airstrike,2021-12-29 02:11:55,-1,4056437beff8be1bd548271a2c7b79e334adb832
1,2,35a78ee4-f99e-4914-a38c-fea25a3e1e8d,3,Airstrike,2021-12-28 15:16:43,-1,6965122b550742f95679bb64a9974af36b2e2e73
2,3,8e6da047-045a-4be3-ac88-f08854f793ef,3,Recon,2021-12-24 23:02:51,-1,3484f44d0d9fa81b2e73adbca37cef65a6a1e06e
3,4,8e6da047-045a-4be3-ac88-f08854f793ef,3,Recon,2021-12-24 23:02:47,0,3484f44d0d9fa81b2e73adbca37cef65a6a1e06e
4,5,3387d072-70ef-47b4-96b3-29b7440314f7,3,Airstrike,2021-12-24 04:06:39,-1,f13191146e17267a68ec072fc5c138150c475b32

In [7]:
df_scores['timestamp'] = pd.to_datetime(df_scores['timestamp'])
df_scores = df_scores.sort_values(by=['timestamp'])

In [8]:
df_scores.head()

,id,student_id,course_id,problem_id,timestamp,score,code_hash
994990,994991,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:11:28,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
994991,994992,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:14:02,-1,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
994992,994993,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:14:24,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
57020,57021,f729ed17-055e-47c2-962c-f96c29afef6e,2,lsn1_helloworld,2021-01-07 07:35:50,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
994993,994994,f729ed17-055e-47c2-962c-f96c29afef6e,2,lsn1_helloworld,2021-01-07 07:35:50,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48

In [9]:
df_students = pd.read_csv('./FalconCodeCSV/falconcode_v1_table_students.csv')
df_students.head()

,id,course_id,stem_major,gender,ethnicity
0,000f96b7-ba0e-43ce-a5c3-c8fc0a6406f0,3,-1,M,WHITE
1,004362ba-cb75-400b-a279-c9f54e3dde5d,3,0,M,WHITE
2,007b3513-a877-44c0-b841-0a9ff14ef6b4,3,1,M,WHITE
3,007b944d-77d2-457f-b0e8-81b2fd80dbf6,3,0,M,ASIAN
4,007f6785-388a-4dee-8cc8-e1c903fd78e2,2,1,F,WHITE

In [10]:
merged_df = pd.merge(df_scores, df_students, left_on='student_id', right_on='id', how='inner')
merged_df = merged_df.drop(['id_y','course_id_y','stem_major','gender','ethnicity'], axis = 1)
merged_df

,id_x,student_id,course_id_x,problem_id,timestamp,score,code_hash
0,994991,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:11:28,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
1,994992,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:14:02,-1,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
2,994993,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,2,lsn1_helloworld,2021-01-07 03:14:24,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
3,57021,f729ed17-055e-47c2-962c-f96c29afef6e,2,lsn1_helloworld,2021-01-07 07:35:50,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
4,994994,f729ed17-055e-47c2-962c-f96c29afef6e,2,lsn1_helloworld,2021-01-07 07:35:50,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
...,...,...,...,...,...,...,...
1433318,994986,0f45519b-550f-4ccc-9983-8e9d32e7dd9b,5,lsn1_helloworld,2022-08-11 18:08:55,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
1433319,994987,0f45519b-550f-4ccc-9983-8e9d32e7dd9b,5,lsn1_helloworld,2022-08-11 18:09:27,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
1433320,994988,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,5,lsn1_helloworld,2022-08-12 13:41:19,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
1433321,994989,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,5,lsn1_helloworld,2022-08-12 13:43:48,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48
1433322,994990,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,5,lsn1_helloworld,2022-08-12 14:37:56,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48

In [11]:
merged_df = pd.merge(merged_df, df_prompt, left_on='problem_id', right_on='id', how='inner')
merged_df['ToolInstances'] = 'Python'
merged_df['EventType'] = 'Submission'
merged_df = merged_df.drop(["id",'course_id_x',"type","exam","assignment","function_return","testcase","input_str","input_cast","conditional","function_call","function_def","loop_counting","loop_until","loop_elements","loop_nested","stat_calculate","file_read","file_write","list","list_2d","dictionary","item_set","tuple"], axis = 1)
merged_df

,id_x,student_id,problem_id,timestamp,score,code_hash,course_id,prompt,max_score,output,ToolInstances,EventType
0,994991,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,lsn1_helloworld,2021-01-07 03:11:28,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,2,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
1,994991,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,lsn1_helloworld,2021-01-07 03:11:28,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,3,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
2,994991,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,lsn1_helloworld,2021-01-07 03:11:28,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,4,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
3,994992,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,lsn1_helloworld,2021-01-07 03:14:02,-1,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,2,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
4,994992,9d37a5e4-074f-4dc0-aef8-d52db1a75b07,lsn1_helloworld,2021-01-07 03:14:02,-1,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,3,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
...,...,...,...,...,...,...,...,...,...,...,...,...
2082978,994989,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,lsn1_helloworld,2022-08-12 13:43:48,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,3,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
2082979,994989,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,lsn1_helloworld,2022-08-12 13:43:48,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,4,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
2082980,994990,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,lsn1_helloworld,2022-08-12 14:37:56,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,2,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
2082981,994990,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,lsn1_helloworld,2022-08-12 14:37:56,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,3,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission
2082982,994990,8a9837cb-a545-4eaa-90b0-d7e37caeadb2,lsn1_helloworld,2022-08-12 14:37:56,100,fd33bd9d99b831ef98d0688e50a35ba6045b3d48,4,<ol>\n\n<li>Download the template file below a...,100,1,Python,Submission